.hover {
  cursor: pointer;
}

h2,
h3 {
  color: #555 !important;
}

a {
  font-weight: 900;
}

details {
  margin-top: 15px;
}

summary {
  font-weight: bold;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
